.wd-title-format {
    font-size: 8.9vw;
    font-family: "Art Nuvo";
    display: flex;
    position: absolute;
    top: 13%;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    color: purple;
    -webkit-text-stroke: 2px yellow;
    opacity: 100%;
}

/*sm*/
@media screen and (min-width: 576px) and (max-width: 767px){
    .wd-search-bar-absolute-pos {
        position: absolute;
        right: 25%;
        top: -8px;
        z-index: 9999;
        width: 35%;
    }
}

.wd-banner-image-format {
    object-fit: cover;
    max-height: 500px;


}
.wd-record-image-format {
    width: 100px;
}
.wd-title2-format {
    font-size: 3.7vw;
    font-family: "Art Nuvo";
    display: flex;
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    color: yellow;
    -webkit-text-stroke: 2px purple;
    opacity: 100%;
}
.wd-title3-format {
    font-size: 5vw;
    font-family: "Art Nuvo";
    display: flex;
    position: absolute;
    top: 58%;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    color: yellow;
    -webkit-text-stroke: 2px purple;
    opacity: 100%;
}
.wd-flex-box-format {
    justify-content: space-between;
}

.cursor-pointer {
    cursor: pointer;
}
